
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
figcaption{
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
figure{
    text-align: center;
}
h3{
    text-align: center;
    padding: 22px;
}
a {
    text-decoration: white;
    background-color: #333;
    color: activecaption;
}
a:hover{
   background-color: black;
    color: yellow; 
    font-size: 20px;
    transition-delay: 0.111s;
}